.books {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding:10px;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
}

.books a {
  text-align: center;
}