.nav {
    z-index: 100;
    position: sticky;
    top: 0;
    left:0;
    right:0;
    border:1px solid #ddd;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
    gap:10px;
  }
  
  .nav ul li {
  }
  
  .nav ul li:hover {
  }
  .nav ul li > a {
    display: block;
    padding:10px;
  }

  .active {
    color:orange;
  }